.cont-sidebar{
    width: 10%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    margin-left: 2%;
    /* border: 2px solid red; */

}
.cont-s{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
figure{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
figure img{
    width: 100%;
}
.side-elements{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 2px solid rgb(86, 80, 46); */
}
.date-cont{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.date-text{
    transform: rotate(-90deg);
	transform-origin: left top 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8rem;
    color: #E8E8E8;
    margin-left: 0.5rem;
}
.face-cont{
    width: 50%;
    height: 40%;
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.socialm-cont{
    margin-top: 45%;
    display: flex;
    margin-left: 0.5rem;
}
.socialm-cont :nth-of-type(1){
    width: 6%;
    margin-right: 20%;
}


.socialm-cont :nth-of-type(2){
    width: 12%;
}


