.footer-container{
    width: 100vw;
    height: 50vh;
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ftr-cont{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.f-c{
    width: 100%;
}
.f-c .logoe{
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}
.f-c .logoe img{
    width: 18%;
}
.ftr-cont .co{
    display: flex;
    width: 70%;
}
.co .s1, .s2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.s1 h6{
    color: #fff;
    font-size: 0.6rem;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0;
}
.s2{
    padding-left:2.5rem;
}
.s2 h6{
    margin: 0;
    font-size: 0.6rem;
    color: transparent
}
.s1 p, .s2 p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 0.6rem;
}
.therms{
    width: 100%;
    display: flex;
    justify-content: center;
}
.therms p{
    width: 100%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 0.5rem;
    margin-left: 30%;
    line-height: 0.8rem;
}

.terms-cont{
    padding: 10%;
}
.terms-cont img{
    width: 40%;
}
.terms-cont h4, h5{
    text-align-last: left;
}
.terms-cont p{
    font-size: 0.8rem;
    text-align: justify;
}
.terms-cont ul{
    text-align: left;
}
.terms-cont ul li{
    list-style: none;
    font-size: 0.8rem;
    text-align: justify;
}

