.container-morph{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
}
.container-morph div:nth-of-type(1){
    top: 5%;
    left: 6%;
    width: 15%;
    height: 15%;
    position: absolute;
    animation-name: morph1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url("../../../assets/morph/boli1.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    
}
.container-morph div:nth-of-type(2){
    width: 60%;
    height: 60%;
    position: absolute;
    top:20%;
    left: 1%;
    animation-name: morph2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url("../../../assets/morph/bolitas turquesas 2.svg");
    background-repeat: no-repeat;
}
.container-morph div:nth-of-type(3){
    width: 8%;
    height: 8%;
    position: absolute;
    left: 50%;
    top: 10%;
    animation-name: morph3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url("../../../assets/morph/bolitas turquesas 3.svg");
    background-repeat: no-repeat;

}

.container-morph div:nth-of-type(4){
    width: 48%;
    height: 48%;
    position: absolute;
    left: 12%;
    top: 3%;
    animation-name: morph4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url("../../../assets/morph/bolitas turquesas 4.svg");
    background-repeat: no-repeat;
}






  